<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_index.css">
</head>

<body>
    <div class="fixed-header">
        <div class="container">
            <nav>
                <a href="time.html">time</a>
                <a href="weather.html">weather</a>

            </nav>
        </div>
    </div>

    <h1>
        welcome to time and weather service

    </h1>

    <div class="fixed-footer">
        <div class="container">
            <nav>
                <a href="index.html"> logout </a>
            </nav>
        </div>
    </div>
</body>

</html>