<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_index.css">
</head>

<body>
    <div class="fixed-header">
        <div class="container">
            <nav><a href="time">back</a></nav>

        </div>
    </div>


    <p>
        continent :{{ continent}}
        <br> city :{{ cities }}
        <br> timezone :{{ timezone }}
        <br> datetime :{{ datetime }}'
        <br> GMT :{{ GMT }} <br> day of the week :{{ day_of_week}}

    </p>
    <div class="fixed-footer">
        <nav>
            <a href="index.html"> logout </a>
        </nav>
    </div>

</body>

</html>